/* ==============================================
   Grundlagen
   ============================================== */
body {
    background-color:#fff;
    font-size:13px;
    font-family: Calibri, Univers, sans-serif;
    line-height:24px;
    color:#000;
    padding:0;
    margin:0;
}

* {
    padding:0;
    margin:0;
    outline:none;
}

a { color:#73ce41;}

a:hover {
	color: #09CDFB;
	text-decoration:none;}

img {border:none;}
/* ==============================================
   Tabellenstyle
   ============================================== */
table {
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #0098BC;
	border-radius: 5px;
}
th, td {padding: 5px;}
th {
  background-color: #0098BC;
  color: #fff;}
td {
	background-color: rgba(0,0,0,0.07);
	text-align: center;
}
tr:hover {background-color: rgba(0,0,0,0.1)}

/* ==============================================
   Formularelemente
   ============================================== */
input[type="text"],input[type="password"],input[type="e-mail"] {
	margin: 5px;
	padding: 2px 16px; 
	height: 25px;
	width: 200px;
	font-size: 1em;
	border-radius: 8px;
	outline-style: none;
}
textarea{
	width: 200px;
	margin: 5px;
	padding: 2px 16px;
	font-size: 1em;
	border-radius: 8px;
}
select {
	width: 230px;
	margin: 5px;
	padding: 2px 16px;
	height: 30px;
	background: #fff;
	font-size: 1em;
	border-radius: 8px;
 }
input[type=submit] {
    background-color: #0098BC;
    color: white;
	font-size: 1.2em;
    margin: 5px;
	padding: 10px 16px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #09CDFB;
}
/* ==============================================
   Überschriften
   ============================================== */
h1{
	font-size:20px;
	margin:10px 0;
	padding:0 0 5px 0;
	border-bottom:1px dotted #cacaca;
	color:#00596E;}

h2{
	font-size:16px;
	margin:10px 0;
	color:#00596E;}

h3{
	font-size:13px;
	margin:10px 0;
	color:#0098BC;}

#logo  {
	float:left;
	font-size:28px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	padding:20px;}

#logo:hover {color:#3F4444;}

/* ==============================================
   Hauptnavigation
   ============================================== */
.nav {
	background-color:#0098BC;
	height:60px;
	padding:0;
	margin:0;
	border-bottom:5px solid #09CDFB;}

.nav ul {
	margin:0;
	padding:0;
	list-style:none;}

.nav ul li {
	width: 100px;
	float:left;}

.nav ul li a {
	font-family: Arial, sans-serif;
	display:block;
	height:38px;
	padding:22px 22px 0;
	color:#fff;
	text-decoration:none;
	background-color:#0098BC;}

.nav ul li a:hover {background-color:#09CDFB;color:#3F4444;}

/* ==============================================
   Untermenüs
   ============================================== */
.nav li li {
	font-size: .8em;
	clear: left;
}
.nav li ul {
	position: absolute;
	display: none;
	width: inherit;}

.nav li:hover ul {display: block;}

.nav li ul li {display: block;}

/* ==============================================
   Wrapper
   ============================================== */
.wrap {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    
}
/* ==============================================
   Hauptinhalt
   ============================================== */
.content {
	font-family: Arial, sans-serif;
	background-color:#fff;
	width: auto;
	height:auto;
	padding:30px 60px;
	margin:20px auto }

/* ==============================================
   Seitenfooter
   ============================================== */
.footer {
	left: 0;
	right: 0;
	width: 100%;
	height:10px;
	position:fixed;
	padding: 10px;
	bottom: 0;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	font-size:11px;
	background-color:#072231;
	border-bottom:5px solid #03121b;
	color:#fff;
	}
/* ==============================================
   Hinweistext
   ============================================== */
.hint {
	float:right;
	width: 20%;
	font-size: 110%;
	background-color: #fff9df;
	padding: 0px 0px 35px;
	border-top: 3px solid #f3c600;
	border-bottom: 3px solid #f3c600;
	margin: 0px 10px 10px;
}
/* ==============================================
   Hinweisboxen auf Seiten
   ============================================== */
.page_hint {
	float:right;
	width: 25%;
	font-size: 90%;
	background-color: #fff9df;
	padding: 0px 10px;
	border-top: 3px solid #f3c600;
	border-bottom: 3px solid #f3c600;
	margin: 10px 10px;
}
.page_hint h3{
	color:#73ce41;}
.page_hint input[type="text"]{
	height: 25px;
	width: 80%;
	font-size: 1em;
	border-radius: 8px;
	outline-style: none;
}
.page_hint ul {
	list-style-position: inside;
	list-style-type: square;
}
/* ==============================================
   Wissensvermittlung
   ============================================== */
.knowledge {width: 800px; }
.knowledge ul{
	list-style-position:inside;
	list-style-type: square;
	padding: 20px;
}
.knowledge table {
	table-layout: fixed;
	margin: 0 0 15px;
	width: 100%;
	border-collapse: collapse;
    border: hidden;
}
.knowledge th {
    font-weight: bold;
    border: 1px solid #CCC;
    padding: 5px 10px;
    background: #0098BC;
    }
.knowledge td{
	text-align: left;
	border: 1px solid #CCC;
	padding: 5px 10px;
    background: #FFFFFF;
}
.knowledge tr:nth-child(even){background-color: #f2f2f2}

.sub-nav-container {height: 45px; padding: 6px 10px; text-align: center;margin-bottom: 50px;}
.sub-nav-container>div {display: inline-block;}
.sub-nav-left {float: left;}
.sub-nav-right {float: right;}
/* ==============================================
   Darstellung von Quellcode
   ============================================== */
pre {
    position:relative;
    padding: 0em .8em;
    border-left: #00728D 6px solid;
    display: block;
    overflow: auto;
    font-family: monospace;
    line-height: 1.5em;
    background: #eeeeee;
    margin-bottom:1em;
    white-space: pre;
}